@font-face {
    font-family: 'Roboto';
    font-weight: 100;
    src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
         url('../fonts/Roboto-Regular.woff') format('woff'),
         url('../fonts/Roboto-Regular.ttf') format('ttf');
}

$main-color: #3A4A66;
$main-color-light: lighten($main-color, 20%);
$main-color-dark: darken($main-color, 11%);
$background-color: lightgrey;
$column-ratio: 0.35;
$column-padding: 28px;

$width: 827px;
$height: 1170px;

$image-size: 160px;

$diploma-column-ratio: 18%;


body {
    font-family: 'Roboto';
    background-color: $background-color;
}

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    //box-sizing: inherit;
}

html {
    //font-size: 62.5%;
}

.break-column {
    flex-basis: 100%;
    width: 0;
}

.container {
    display: flex;
    min-height: 100%;
    align-items: center;
    justify-content: center;

    font-size: 0.9em;
}

.sections {
    display: flex;
    flex-direction: column;
    width: $width;
    height: $height;
    flex-wrap: wrap;
    background-color: white;
    
}

.presentation, .contact, .skills, .interests {
    width: $width * $column-ratio  - ($column-padding * 2);
    background-color: $main-color;
    color: white;

    padding: 13px $column-padding;
}

.presentation {
    background-color: $main-color-dark;
}

.title, .diplomas, .jobs {
    width: $width * (1 - $column-ratio) - ($column-padding * 2);
    padding: 13px $column-padding;
}

.presentation {
    display: flex;
    justify-content: center;
    flex-direction: column;

    .main_image {
        align-self: center;
        width: $image-size;
        height: $image-size;
        border-radius: 100%;
        border: 3px solid white;
        margin: 15px;
        padding: 5px;
    }

    p {
        text-align: center;
    }

    .name {
        font-weight: bold;
        font-size: 32px;
    }

    .age {
        margin-top: 5px;
        font-size: 20px;
    }
}

.contact {
    line-height: 24px;

    a {
        color: white;
    }

    a:hover {
        color: lightcoral;
    }
}

.skills {
    line-height: 24px;
    
    .skill:not(:last-child) {
        padding-bottom: 15px;
    }

    h3 {
        padding-bottom: 3px;
    }
}

.interests {
    flex-grow: 2;
    line-height: 24px;
}

.title {
    padding-top: 22px;
    padding-bottom: 22px;
    color: $main-color;
    font-weight: bold;
    text-align: center;

    h1 {
        font-size: 34px;
    }
}

.section-title {
    padding-bottom: 15px;
}

.diplomas {
    .section-title {
        color: $main-color-light;
    }
    
    .diploma {
        display: flex;
    
        .date {
            font-weight: bold;
            width: $diploma-column-ratio;
            color: $main-color;
        }
    
        .info {
            color: $main-color;
            width: 100% - $diploma-column-ratio;
            line-height: 22px;
        }
    
        .mention {
            color: $main-color-light;
            padding-left: 15px;
        }
    }

    .diploma:not(:last-child) {
        padding-bottom: 10px;
    }
}

.jobs {
    .section-title {
        color: $main-color-light;
    }

    h2 {
        padding-bottom: 24px;
    }
    
    .job {

        .name {
            color: $main-color;
            font-weight: bold;
            font-size: 1.4em;
            padding-bottom: 5px;
            padding-top: 5px;
        }

        .date {
            color: $main-color-light;
            font-size: 0.95em;
            //line-height: 2px;
        }

        ul {
            padding-left: 35px;
            line-height: 21px;

            li {
                //list-style-type: "- ";
                //list-style-position:inside;
            }
        }
    }

    .job:not(:last-child) {
        padding-bottom: 30px;
    }
}


@media (max-width: $width) {
    .container {
        min-height: auto;
        font-size: 0.9em;
    }

    .sections {
        height: auto;
        width: auto;
        align-items: stretch;
        justify-items: stretch;
    }

    .title {
        flex-basis: 100%;
        padding: 30px 0;
    }

    .presentation, .contact {
        background-color: $main-color-dark;
        color: white;
        order: 1;
    }

    .title {
        background-color: $main-color;
        color: white;
        order: 2;
    }

    .skills, .interests {
        background-color: $main-color;
        order: 4;
    }

    .diplomas, .jobs {
        order: 3;

        .section-title {
            padding-top: 10px;
            padding-bottom: 25px;
        }
    }

    .diplomas {
        padding-bottom: 40px;
    }

    .contact {
        padding-bottom: 30px;

        .section-title {
            display: none;
        }

        * {
            text-align: center;
        }
    }

    .skills {
        display: flex;
        flex-wrap: wrap;

        padding-top: 23px;

        .section-title {
            flex-basis: 100%;
            padding-bottom: 30px;
        }
        .skill {
            flex-basis: $width / 3;
            flex-grow: 1;

            h3 {
                text-align: center;
            }

            p {
                padding: 10px;
                text-align: center;
            }
        }
    }

    .section-title {
        text-align: center;
        font-size: 1.8em;
    }

    .title, .diplomas, .jobs, .presentation, .contact, .skills, .interests {
        width: auto;
    }

    .interests {
        padding-bottom: 40px;

        * {
            text-align: center;
        }
    }
}
